<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<h1>Enter your feelings below</h1>
<form action="analyze" method="get">
    <textarea name="text" style="width: 1283px; height: 215px;"></textarea><br>
    <input type="checkbox" name="remove_punc"> Remove Punctuations<br>
    <input type="checkbox" name="capitalize"> Capitalize String<br>
    <input type="checkbox" name="newline"> Remove Next Line<br>
    <input type="checkbox" name="char_count"> Character Count<br>
    <button type="submit"> Enter Query</button>

</form>
</body>
</html>
</html>